/*.wrapper{
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left: 10px;
}*/
.header-wrapper-top{
  background: #7dd9e8;
  padding: 20px 0px 15px;
}
.header-content{
  max-width: 938px;
  margin: 0px auto;
  height: 50px;
}
.logo{
  float: left;
  size:10px
}
.search{
  float: left;
  padding: 20px 20px 20px;
  width: 37%;
}
.user-options{
  float: right;
}
.header-wrapper-bottom{
  background: #f5f5f5;
}
.header-bottom-centre{
  height:50px;
}
.menu-left ul li{
  display:inline;
  padding-left: 10px;
} 
.menu-right ul li{
  display: inline;
}
.menu-left{
  float:left;
}
.menu-right{
  float: right;
}