.head-top-wrapper{
  width : 1002px;
  height:85px;
  background-color:#76d8ec;
}

.head-bottom-wrapper{
  background-color:#f5f5f5;
  height:42px;
}
.footer{
  height: 45px;
  width: 1002px;
  background-color: #727272;
  clear: both;
}

/*Middle-section*/
.middle{
  margin-top: 30px;
  width:936px;
}
.middle-left{
  float: left;
  
 }
 .middle-left-container{
   width: 194px;
   float:left;
 }

.middle-left-column-two{
  float: right;
 
}
.below-container-left{
  float: left;
 }

 .below-container-right{
  float: right;
}

@media only screen and (min-width: 768px){
  .wrapper{
    width:938;
  }
  .head-top-wrapper {
    width :938px;   
    padding: 0 32px;
  }

  .middle{
    width :938px;   
    padding: 0 32px;
  }
/*tablet*

