.footer-wrapper{
  width:100%;
  background-color: black;
}
.footer-container{
  padding: 0px 0px;
}
.services{
  height:50px;
  width:80px;
  padding-left: 20px;
}
.footer-container ul li{
  display: inline-block;
}
.service-title{
  text-align: center;
  color:white;
  padding-bottom: 10px;
  font-size:9px;
  font-family: 'Titillium Web', sans-serif;
}
.image{
  text-align:center;
  padding-bottom: 5px;
}
.sub-service-title{
  text-align: center;
  font-size:5px;
  color:white;
  opacity:0.3;
  font-family: 'Roboto', sans-serif;
}

.footer-down-container-up{
  
  padding-left:25px;
  width: 99%;
}
.useful-title{
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}
.info{
  padding: 25px 0px;
  text-align: center;
} 
.shopx-content{
  padding:20px 0px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.useful-link{
  padding-top:20px;
}
.useful-items {
  column-count:3;
}
.info{
  padding-right: 70px;
}
.instagram-box{
  padding-top: 60px;
  text-align: center;
}
.useful-items li{
  list-style-image: url(/images/bullet_03.png);
  font-family: 'Roboto', sans-serif;
}
.pink-green-box{
  display:none;
}
.copy-container-left{
  text-align:center;
}
.copy-container-right{
  text-align:center;
}
.footer-image{
  width:60%;
}
.copy-container-left .copyright-text{
  font-size: 13px;
  color:#ddd;
  font-family: 'Roboto', sans-serif;
}
.read-more{
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 768px) {
  .services{
    height:50px;
    width:70px;
    padding-left: 20px;
    margin:0px 30px;
  }
  .footer-container ul li{
    display: inline-block;
    padding-left:20px;
  }
  .useful-link{
    padding-left: 30px;
  }

}
@media only screen and (min-width: 1300px) {
  .footer-wrapper{
    width:100%;
    background-color: black;
  }
  .footer-container{
    padding: 40px 0px;
    margin: 0px 80px;
  }
  .services{
    height:130px;
    width:160px;
  }
  .footer-container ul li{
    display: inline-block;
  }
  .service-title{
    text-align: center;
    color:white;
    padding-bottom: 10px;
    font-size:18px;
    font-family: 'Titillium Web', sans-serif;
  }
  .image{
    padding-bottom: 20px;
    text-align: center;
  }
  .sub-service-title{
    text-align: center;
    font-size:10px;
    color:white;
    opacity:0.3px;
    font-family: 'Roboto', sans-serif;
  }
  .footer-down-wrapper{
    width:100%;
    height:530px;
   
  }
  .footer-down-container-up{
    height: 335px;
    padding-bottom: 100px;
    width: 1170px;
    margin: 0 auto;
  }
  .useful-title{
    padding-bottom: 35px;
  }
  .info{
    height:273px;
    padding: 50px 80px;
    width:200px;
  } 
  .shopx-content{
    padding:40px 0px;
    display: inline-block;
  }
  
  .useful-link{
    height:295px;
    width:250px;
    padding-top:60px;
    padding-right: 70px;

    float:left;
  }
  .useful-items {
    column-count:2;
  }
  .info{
    float:left;
    padding-right: 70px;
  }
  .instagram-box{
    float:left;
    padding-top: 60px;
  }
  .useful-items li{
    list-style-image: url(/images/bullet_03.png);
  }
  .pink-green-box{
    display:block;
  }
  .copy-right-wrapper{
    width:100%
  }
  .copy-right-container{
    width:1140px;
    margin: 0 auto;
    text-align: center;
  }
  .copy-container-left{
    float:left;

  }
  .copy-container-right{
    float:right;
  }
  .footer-image{
    width:125px;
  }
}
