*{
    margin:0;
    padding:0;
}
.wrapper{
    width:100%;
}
ul li {
    list-style-type: none;
}
ul li a{
    text-decoration: none;
}

.menu-list ul li {
    display:inline-block;
    padding:10px 5px;

}

.navigation-container-top{
    padding-top:20px;
    height:90px;
    background-color:#ade1c5;
    width:100%

}
/*left-side*/
.icon-left{
    float:left;
    
}


/*right-side*/
.icon-right{
    float:right;   
}
    
.header-icon{
    padding: 10px;
}
.logo-icon{
    width:40px;
    margin:0 auto;
}
.shopx-logo{
    padding-top:5px;
    width: 100px;
    margin:0 auto;
}
.icon-right div.profile-icon {
    display:none;

}

.navigation-container-top a{
    display:inline-block;
}

.navigation-container-top div{
    display:inline-block;
} 
.navigation-container-top div.logo-icon{
    display:block;
} 
.clearfix::after{
    content: "";
    clear: both;
    display: table;
  }

.menu-list{
    margin: 0px 5px ;
    text-align: center;
}
.new-arrivals-wrapper{
    height:70px;
    padding: 30px 0px 30px 60px;
    background-color:#ade1c5;
}

.new{
    font-size: 20px;
    font-family: 'Alex Brush', cursive;
}
.shop-now{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.sky-panter{
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
}
.arrival{
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
}
.dollar{
    font-size:5px;
}

.second-text ul li{
    display:inline-block ;
}

.first-line{
    width:20px;
    font-size:3px;
}
.seond-line{
    width:10px;
    font-size:3px;
}
.number-two{
    color:white;
}
.second-menu-wrapper{
    margin: 15px 50px;
}
.second-menu-container{
    margin:auto;
}
.second-menu-container-left{
    float:left;

}
.second-menu-container-right{
    float:right;
}
.second-menu-container-left ul li{
    display:inline-block;
    font-size:10px;
    padding-right:10px;
}


.search-bar input{
    width:40px;
}
.search-bar{
    display: inline-block;
}
.search-icon{
    display:inline-block;
}
.search-icon div.search-second {
    float:left; 
    width:20px;
}
.icon-right div.profile-icon{
    display:none;
}


.slider{
    position:absolute;
    right:21px;
    top:50%;
    margin-top:-66px;
}
.slider ul li{
    padding:13px;
}
.slider ul li.current{
    color:white;
}
.new-arrivals-wrapper{
    height:70px;
    padding: 30px 0px 50px 100px;
    background-color:#ade1c5;
    position:relative;
}





/*tablet*/

@media only screen and (min-width: 768px) {
    .navigation-container-bottom{
        width:100%;
    }
    .navigation-container-top{
        height:50px; 
    }
    .icon-left{
        display:none;
    }

    .header-icon{
        padding: 10px 20px;

    }
    .shopx-logo{
        padding-top:5px;
        width: 110px;


    }
    .menu-list ul li {
        display:inline-block;
        padding:20px 20px;

    }
    .menu-list{
        padding: 0 100px;
    }
    .new{
        font-size: 53px;
        font-family: 'Alex Brush', cursive;
    }
    .shop-now{
        font-size: 8px;
        font-family: 'Roboto', sans-serif;
    }
    .sky-panter{
        font-family: 'Titillium Web', sans-serif;
        font-size: 52px;
    }
    .arrival{
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
    }
    .dollar{
        font-size:5px;
    }
    .search-bar{
        float:right;
        margin:auto;
    }

}


@media only screen and (min-width: 1020px) {
    .product-list-wrapper .product-list{
        max-width:60.93%;
        margin: 0 auto;
      }

    .navigation-container-top{
        background-color: white;
    }
    .new-arrivals-wrapper{
        height:518px;
        padding: 0px 60px;
        background-color:#ade1c5;
    }
    .new-arrivals-container{
        padding: 30px 70px;

    }
    .menu-list{
        padding: 0 100px;
    }
    .new{
        font-size: 73px;
        font-family: 'Alex Brush', cursive;
    }
    .shop-now{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
    .sky-panter{
        font-family: 'Titillium Web', sans-serif;
        font-size: 72px;
    }
    .arrival{
        font-family: 'Titillium Web', sans-serif;
        font-size: 23px;
    }
    .dollar{
        font-size:5px;
    }
    .icon-left div.profile-icon {
        display:none;
    }
    .icon-right div.profile-icon {
        display: inline-block;

    }
   

}

