*{
    margin:0;
    padding:0;
}
.wrapper{
    width:100%;
}
.navigation-container-top{
    padding-top:20px;
    height:90px;
    background-color:#ade1c5;
    width:100%;

}
ul li {
    list-style-type: none;
}
/*
ul li a{
    text-decoration: none;
}
*/
.menu-list{
    margin: 0px 5px ;
    text-align: center;
}

.menu-list ul li {
    display:inline-block;
    padding-right:10px;
    text-align: center;

}

.second-menu-container-right .search-bar{
    display:none;
}
.menu-top{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: black;
    
}
.active{
    font-family: 'Roboto', sans-serif;
    color:#ade1c5;
    text-decoration: dashed; 
    font-size: 11px;
}

/*left-side*/
.icon-left{
    float:left;
    margin-left:30px;
    
}

/*right-side*/
.icon-right{
    float:right; 
    margin-right: 30px;  
}
    
.header-icon{
    padding: 10px;
}
.logo-icon{
    width:40px;
    margin:0 auto;
}
.shopx-logo{
    padding-top:5px;
    width: 100px;
    margin: 0 auto;
}
.icon-right div.profile-icon {
    display:none;

}

.navigation-container-top a{
    display:inline-block;
}

.navigation-container-top div{
    display:inline-block;
} 
.navigation-container-top div.logo-icon{
    display:inline-block;
    padding-left: 20px;
} 
.clearfix::after{
    content: "";
    clear: both;
    display: table;
  }


.new{
    font-size: 20px;
    font-family: 'Alex Brush', cursive;
}
.shop-now{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.sky-panter{
    font-family: 'Titillium Web', sans-serif;
    font-size:25px;
}
.arrival{
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
}
.dollar{
    font-size:5px;
}

.second-text ul li{
    display:inline-block ;
}

.first-line{
    width:20px;
    font-size:3px;
}
.seond-line{
    width:10px;
    font-size:3px;
}
.number-two{
    color:white;
}
.second-menu-wrapper{
    margin: 15px 15px;
}
.second-menu-container{
    margin:auto;
}
.second-menu-container-left{
    float:left;
    

}
.second-menu-container-right{
    float:right;
}
.second-menu-container-left ul li{
    display:inline-block;
    font-size:10px;
    padding-right:2px;
    color: black;
    

}


.icon-right div.profile-icon{
    display:none;
}


.slider{
    position:absolute;
    right:21px;
    top:50%;
    margin-top:-10px;
    font-size: 5px;
}


.slider ul li.current{
    color:white;
}


.new-arrivals-container{
    position:absolute;
    left: 70px;
    top: 5px;
}


.new-arrivals-wrapper{
    height:70px;
    background-color:#ade1c5;
    position:relative;

}
.price .non-strike{
    color: #ade1c5;
}







/*tablet*/

@media only screen and (min-width: 768px) {
    .navigation-container-bottom{
        width:100%;
        margin-top:10px;
        height: 70px;
    }
    .navigation-container-top{
        height:80px; 
    }
    .icon-left{
        display:none;
    }
    .navigation-container-top div.logo-icon{
        padding-left: 70px;
    } 

    .header-icon{
        padding: 10px 20px;

    }
    .shopx-logo{
        padding-top:5px;
        width: 100px;
        margin-left:0 auto;
    }
    .menu-list{
        margin: 0px auto ;
        padding:5px;
    }
    .logo-icon{
        margin:0 auto;
    }
    
    .icon-left{
        margin-left:100px;
    }
    .icon-right{
        margin-right:100px;
    }
    
    .menu-list ul li {
        display:inline-block;
        padding-right: 35px;
        text-align: center;
    } 
    .new{
        font-size: 53px;
        font-family: 'Alex Brush', cursive;
    }
    .shop-now{
        font-size: 8px;
        font-family: 'Roboto', sans-serif;
    }
    .sky-panter{
        font-family: 'Titillium Web', sans-serif;
        font-size: 52px;
    }
    .arrival{
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
    }
    .dollar{
        font-size:5px;
    }
    
    .slider{
        position:absolute;
        right:21px;
        top:50%;
        margin-top:-30px;
    }
    .slider ul li{
        padding: 4px;
    }
    .second-menu-wrapper{
        margin: 40px 100px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    .new-arrivals-container{
        position:absolute;
        left: 140px;
        top: 10px;
    }
    .new-arrivals-wrapper{
        height:140px;
        background-color:#ade1c5;
        position:relative;
    
    }
    .second-menu-container-left ul li{
        display:inline-block;
        padding-right:20px;
        color: black;
    
    }
    .search-bar input{
        width:40px;
        border: none;
    }
    .search-bar{
        display: inline-block;
        font-size: 10px;
        padding-left:25px;
    }
    .icon-left .search-bar-top{
        display:none;
    }
    .search-icon{
        display:inline-block;
    }
    .search-icon div.search-second {
        float:left; 
        width:20px;
    }

}
    


@media only screen and (min-width: 1020px) {
    .product-list-wrapper .product-list{
        max-width:60.93%;
        margin: 0 auto;
    }

    .navigation-container-top{
        background-color: white;
    }
    .new-arrivals-wrapper{
        height:518px;
        background-color:#ade1c5;
        position:relative;
    }
    .navigation-container-top div.logo-icon{
        padding-left: 200px;
    } 
    
    .menu-list{
        margin: 0px auto ;
        width:512px;
        padding:35px;
    }
    
    .menu-list ul li {
        display:inline-block;
        padding-right:24px;
        text-align: center;
    }

    .new{
        font-size: 73px;
        font-family: 'Alex Brush', cursive;
    }
    .shop-now{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
    .sky-planter{
        font-family: 'Titillium Web', sans-serif;
        font-size: 72px;
    }
    .arrival{
        font-family: 'Titillium Web', sans-serif;
        font-size: 23px;
    }
    .dollar{
        font-size:24px;
    }
    .icon-left div.profile-icon {
        display:none;
    }
    .icon-right div.profile-icon {
        display: inline-block;

    }
    .logo-icon{
        margin:0 auto;
    }
    .shopx-logo{
        display:inline-block;
        width:74px;
        padding-top:25;
        width: 100px;
        margin:0 auto;
    }
    .icon-left{
        margin-left:350px;
    }
    .icon-right{
        margin-right:350px;
    }
    .slider{
        font-size:10px;
    }
    .slider ul li{
        padding:10px;
    }
    .second-menu-wrapper{
        margin: 50px 300px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .search-bar input{
        font-size:11px;
        width:57px;
        border: none;
        padding-left:25px;
        display: inline-block;
    }
    
    .new-arrivals-container{
        position:absolute;
        left: 400px;
        top: 163px;
    }
    .second-menu-container-left ul li{
        display:inline-block;
        font-size:11px;
        padding-right:20px;
        color: black;
    
    }
    
    .search-icon{
        display:inline-block;
    }
    .search-icon div.search-second {
        float:left; 
        width:20px;
    }
    /*
    .icon-left .search-bar-top{
        display:inline-block;
        width:10px;
        border: none;

    }*/
    

}

