.header-container .image{
  float: left;
}

.header-container .ine{
  float:left;
}
/* 
.middle-container .column-one{
  float:left;
}

.middle-container .column-two{
  float:left;
} */
/* .middle-container .column-three{
  float: left;
} */